.main-container {
  margin: auto;
  text-align: center;
}
.main-head {
  size: 6em;
}
.item-container {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 70vw;
  border-style: solid;
  border-width: 5px;
}
.todo-item {
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  text-align: left;
}
.todo-item.checked {
  background-color: #2d2d2d;
  color: #ffffff;
  font-style: italic;
}
.todo-delete {
  text-align: right;
  cursor: pointer;
}
.todo-checkbox {
  text-align: center;
}
.alert-bottom {
  position: fixed;
  bottom: 10px;
  width: 60%;
  left: 20%;
}